PORT=3001
MONGO_URI=mongodb://localhost:27017/uShop-admin

# cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# mail 
EMAIL_USER=your-gmail@gmail.com
EMAIL_PASS=your-gmail-app-password

# whatsapp api
WHATSAPP_API_URL=https://api.whatsapp.com/send
WHATSAPP_API_TOKEN=your-whatsapp-access-token
